{#{% extends 'base.html.twig' %}#}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.plainPassword.first, {label: 'Password'}) }}
    {{ form_row(form.plainPassword.second,{label:'Confirm password'}) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(form) }}
{% endblock %}
