{% extends 'base.html.twig' %}

{% block body %}
    ><a href="{{ path('app_admin') }}">Admin</a>><a href="{{ path('app_admin_comment_list') }}">comment</a>

    <table>
        <tbody>
        {% for comment in comments %}
            <tr>
                <th>
                    <a href="{{ path('app_admin_user_post',{'id':comment.createdBy.id}) }}">{{ comment.createdBy.pseudo }}</a>
                </th>
                <td>
                    <p>{{ comment.content }}</p>

                </td>

                <td>
                    {{ include('comment/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
