{% extends 'base.html.twig' %}
{% block body %}
<h1>ADMIN USER PAGE</h1>
    ><a href="{{ path('app_admin')}}">Admin</a>><a href="{{ path('app_admin_user_list')}}">users</a>
    <p>Hello {{ app.user.email }}</p>
    <p>Vous avez le droit d'être parce que vous avez {{ app.user.roles|join('|') }}</p>



    <ul>
        {% for user in users %}
            <li>
                <a href="{{ path('app_admin_user_post',{'id':  user.id }) }}">{{ user.pseudo }}</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
