{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Login</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>

        {% if sendVerificationEmail and userId is defined %}
            <br>
            <p> Vous pouvez renvoyer un email de confirmation en cliquant sur ce
            <a href="{{ path('app_send_verification_email', {id: userId }) }}">lien</a></p>
        {% endif %}
    {% endif %}


    {{ form_start(form,{'attr':{'id':'form-login'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    {{ form_row(form._remember_me) }}


    <button type="submit" class="btn">Login</button>
    {{ form_end(form) }}

    <p>
        <a href="{{ absolute_url(path('app_request-forgot-password')) }}">Mot de passe oublié ?</a>
    </p>




{#<script>#}
{#    const monForm = document.getElementById('form-login');#}
{#    console.log("voici mon formulaire",monForm)#}
{#    monForm.addEventListener('submit', (e) => {#}
{#        e.preventDefault();#}
{#    })#}

{#</script>#}
{% endblock %}

