<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Re-eddito{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🟦</text></svg>">

    {# CSS GLOBAL #}
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="app">

{% if app.user %}
    <header class="app-header">
        <nav class="app-nav">
            <a class="nav-logo" href="{{ path('app_home') }}">re-eddito</a>

            <div class="nav-links">
                <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                <a class="nav-link nav-link-primary" href="{{ path('app_post_new') }}">Nouveau Post</a>
                <a class="nav-link"
                   href="{{ path('app_user_profile', { id: app.user.id }) }}">
                    Profil
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link" href="{{ path('app_admin') }}">Admin</a>
                {% endif %}

                <a class="nav-link logout" href="{{ path('app_logout') }}">Logout</a>
            </div>
        </nav>
    </header>
{% endif %}

<main class="app-feed">
    {% block body %}{% endblock %}
</main>

</body>
</html>
